@model Kutse.Models.Guest

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p> Sisesta nimi: @Html.TextBoxFor(x => x.Name)</p>
    <p> Sisesta email: @Html.TextBoxFor(x => x.Email)</p>
    <p> Sisesta tel: @Html.TextBoxFor(x => x.Phone)</p>
    <p>
        Sinu valik:
        
    </p>
}

