@model Kutse.Models.Guest

@{
    ViewBag.Title = "Thanks";
}

<div>
    <p>Tänan sind, @Model.Name</p>
</div>
<div>
    @if(Model.WillAttend==true)
            {
                @:Ootame sind kallis sõber!
                <p>
                    <img src="~/Images/happy.jpg"/>
                </p>
            }
    else
            {
                @:Väga kurb uudis. Näeme hiljem!
                <p>
                    <img src="~/Images/sad.jpg"/>
                </p>
            }
    @ViewBag.Message @*отчет об отправле письма*@
</div>

